@import url('https://fonts.cdnfonts.com/css/general-sans');
$General-Sans: 'General Sans', sans-serif;

$Font-Size-18px: 18px;
$Font-Size-20px: 20px;
$Font-Size-22px: 22px;
$Font-Size-36px: 36px;
$Font-Size-54px: 54px;
$Font-Size-91px: 91px;