@use 'color';
@use 'font';


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    background-color: color.$Martinique;
    color: #000;
    font-family: font.$General-Sans;
}

.container{
    header{
        .navigation{
            .navigationSection{
                .container{
                    padding: 20px;
                    max-width: 1279.5px;
                    width: 88.8%;
                    margin: auto;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .logoWrapper{
                        display: flex;
                        align-items: center;
                        .logoIcon{
                        }
                        .logoText{
                            margin-left: 6px;
                        }
                    }
                    .menuListWrapper{
                        .menuList{
                            display: flex;
                            align-items: center;
                            column-gap: 24px;
                            color: color.$Link-Water;
                            font-size: font.$Font-Size-18px;
                            font-style: normal;
                            a{
                                color: color.$Link-Water;
                                font-size: font.$Font-Size-18px;
                                text-decoration: none;
                                .navExploreButton{
                                    padding: 12px 63px 17px 70px;
                                    border-radius: 100px;
                                    background: rgba(255, 255, 255, 0.15);
                                    border: 1px solid rgba(255, 255, 255, 0.5);
                                    color: color.$Link-Water;
                                    font-size: font.$Font-Size-18px;
                                    line-height: 119.5%; 
                                    letter-spacing: -0.03em;
                                    cursor: pointer;
                                    font-weight: 400;
                                    font-style: normal;
                                }
                            }
                        }
                    }
                }
            }
        }
        .heroSection{
            .container{
                max-width: 1279.5px;
                width: 88.8%;
                margin: auto;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                margin-top: 97px;
                margin-bottom: 82px;
                .leftContianer{
                    max-width: 755px;
                    width: 60%;
                    .heroTitle{
                        font-style: normal;
                        font-weight: 400;
                        font-size: font.$Font-Size-91px;
                        line-height: 92%;
                        letter-spacing: -0.03em;
                        color: color.$Link-Water;
                        .highlighted{
                            background: linear-gradient(120deg, color.$Mariner 0%, color.$Mariner 100%);
                            background-repeat: no-repeat;
                            background-size: 100% 20%;
                            background-position: 0 87%;
                            height: 8px;
                        }
                    }
                    .heroDescription{
                        font-style: normal;
                        font-weight: 400;
                        font-size: font.$Font-Size-22px;
                        line-height: 119.5%;
                        letter-spacing: -0.03em;
                        color: color.$Link-Water;
                        margin-top: 24px;
                    }
                    .heroCTAButton{
                        background-color: color.$Mariner;
                        border: 1px color.$Mariner solid ;
                        border-radius: 100px;
                        padding: 13.75px 86px 21.25px 86px;
                        font-size: font.$Font-Size-20px;
                        margin-top: 38px;
                        font-weight: 400;
                        line-height: 119.5%;
                        letter-spacing: -0.03em;
                        color: color.$White;
                        cursor: pointer;
                    }
                }
                .rightContainer{
                    max-width: 473px;
                    width: 36%;
                }
            }
        }
    }
    .serviceSection{
        main{
            background-color: color.$Cloud-Burst;
            .container{
                max-width: 1279.5px;
                width: 88.8%;
                margin: auto;
                padding: 53px 0 80px;
                .sectionWrapper{
                    color: color.$Link-Water;
                    max-width: 347px;
                    width: 27%;
                    .sectionTitle{
                        font-style: normal;
                        font-weight: 400;
                        font-size: font.$Font-Size-54px;
                        line-height: 92%;
                        letter-spacing: -0.03em;
                        .highlighted{
                            background: linear-gradient(120deg, color.$Mariner 0,color.$Mariner 100%);
                            background-repeat: no-repeat;
                            background-size: 100% 20%;
                            background-position: 0 87%;
                            height: 8px;
                        }
                    }
                    .sectionDescription{
                        font-style: normal;
                        font-weight: 400;
                        font-size: font.$Font-Size-22px;
                        line-height: 119.5%;
                        letter-spacing: -0.03em;
                        margin-top: 24px;
                    }
                }
                .cardWrapper{
                    margin-top: 53px;
                    display: flex;
                    color: color.$Link-Water;
                    justify-content: space-between;
                    .card{
                        width: 23%;
                        max-width: 296px;
                        .cardTitleWrapper{
                            display: flex;
                            align-items: center;
                            column-gap: 20px;
                            .cardImageWrapper{
                                padding: 12px 14px 16px;
                                background: color.$Mariner;
                                border-radius: 4px;
                            }
                            .cardTitle{
                                font-family: 'General Sans';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 36px;
                                line-height: 92%;
                                letter-spacing: -0.03em;
                            }
                        }
                        .cardDescription{
                            font-style: normal;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 132.5%;
                            letter-spacing: -0.03em;
                            color: color.$Lusk;
                            margin-top: 19px;
                        }
                        .cardCTAButton{
                            color: color.$Lusk;
                            border-top: none;
                            border-right: none;
                            border-left: none;
                            border-bottom: 1px color.$Lusk solid;
                            background-color: transparent !important;
                            font-size: font.$Font-Size-18px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 132.5%;
                            letter-spacing: -0.03em;
                            padding: 0;
                            padding-bottom: 9px;
                            margin-top: 37px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
    .latestProjects{
        main{
            .container{
                max-width: 1279.5px;
                width: 88.8%;
                margin: auto;
                padding: 53px 0 80px;
                .sectionWrapper{
                    color: color.$Link-Water;
                    max-width: 398px;
                    width: 31%;
                    .sectionTitle{
                        font-style: normal;
                        font-weight: 400;
                        font-size: font.$Font-Size-54px;
                        line-height: 92%;
                        letter-spacing: -0.03em;
                        .highlighted{
                            background: linear-gradient(120deg, color.$Mariner 0,color.$Mariner 100%);
                            background-repeat: no-repeat;
                            background-size: 100% 20%;
                            background-position: 0 87%;
                            height: 8px;
                        }
                    }
                    .sectionDescription{
                        font-style: normal;
                        font-weight: 400;
                        font-size: font.$Font-Size-22px;
                        line-height: 119.5%;
                        letter-spacing: -0.03em;
                        margin-top: 24px;
                    }
                }
                .carouselWrapper{
                    margin-top: 48px;
                    display: flex;
                    align-items: center;
                    column-gap: 32px;
                    overflow: hidden;
                    float: left;
                    .imageCard{
                        position: relative;
                        .cursor{
                            width: 20px;
                            height: 20px;
                            border: 2px color.$White solid;
                            border-radius: 50%;
                            position: absolute;
                            z-index: 990;
                            transition-duration: 200ms;
                            transition-timing-function: ease-out;
                            animation: cursorAnimation .5s infinite alternate
                        }
                        @keyframes cursorAnimation {
                            from{
                                transform: scale(1);
                            }
                            to{
                                transform: scale(.7);
                            }
                        }
                        &:hover{
                            .hoverContent{
                                display: block;
                                transition: 0.3s;
                            }
                            //cursor: url('../../assets/image/Group\ 67.png'), auto;
                        }
                        .hoverContent{
                            display: none;
                            position: absolute;
                            z-index: 90;
                            bottom: 0;
                            width: 100%;
                            height: 248px;
                            background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.592) 45.2%, rgba(0, 0, 0, 0) 91.35%);
                            border-radius: 0px 0px 16px 16px;
                            .hoverContentWrapper{
                                bottom: 0;
                                position: absolute;
                                padding: 0 37px 37px;
                                color: color.$White;
                                .imageCardTitle{
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: font.$Font-Size-36px;
                                    line-height: 92%;
                                    letter-spacing: -0.03em;
                                }
                                .imageCardDescription{
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 20px;
                                    line-height: 139.5%;
                                    letter-spacing: -0.02em;
                                    color: rgba(255, 255, 255, 0.8);
                                    margin-top: 9px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .clientsSection{
        main{
            .container{
                max-width: 1279.5px;
                width: 88.8%;
                margin: auto;
                padding: 53px 0 80px;
                .sectionTitle{
                    color: color.$Link-Water;
                    font-style: normal;
                    font-weight: 400;
                    font-size: font.$Font-Size-54px;
                    line-height: 92%;
                    letter-spacing: -0.03em;
                    .highlighted{
                        background: linear-gradient(120deg, color.$Mariner 0%, color.$Mariner 100%);
                        background-repeat: no-repeat;
                        background-size: 100% 20%;
                        background-position: 0 87%;
                        height: 8px;
                    }
                }
                .testimonialContainer{
                    .testimonialWrapper{
                        .testimonialText{
                            color: color.$Link-Water;
                            font-style: normal;
                            font-weight: 400;
                            font-size: font.$Font-Size-20px;
                            line-height: 139.5%;
                            margin-top: 43px;
                            letter-spacing: -0.01em;
                        }
                    }
                }
            }
        }
    }
}